<h4><%= @challenge.description%></h4>
<p><%= @challenge.challenge_location %></p>
<a href="/challenges">Back to all challenges</a>
<div>
  <%= link_to "Delete this challenge", "/challenges/#{@challenge.id}", class: "btn btn-warning", method: :delete %>
  <%= link_to "Edit", "/challenges/#{@challenge.id}/edit", class: "btn btn-success" %>
</div>